# ===== Terraform =====
*.tfstate
*.tfstate.*
*.tfplan
plan.bin
.crash.log
*.tfvars
.terraform/
.terraformrc
terraform.rc
.terraform.lock.hcl

# ===== Keys =====
Ansible/ssh/ssh_keys/id_rsa
Ansible/ssh/ssh_keys/id_rsa.pub
directory_structure.md
.venv/

# ===== MacOS =====
.DS_Store
