apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- dashboards
- datasources
- flux-kube-state-metrics.yaml
- podmonitor.yaml
- node-exporter-dashboard.yaml
- node-exporter-full-dashboard.yaml
- prometheus-rules.yaml
- grafana-ingress.yaml

patches:
- target:
    kind: ServiceMonitor
    name: kube-prometheus-stack-prometheus-node-exporter
  patch: |-
    - op: replace
      path: /spec/attachMetadata/node
      value: true
    - op: add
      path: /spec/endpoints/0/relabelings
      value:
      - sourceLabels: [__meta_kubernetes_endpoint_node_name]
        targetLabel: instance
      - sourceLabels: [__meta_kubernetes_endpoint_node_name]
        targetLabel: node
      - regex: (.+)
        replacement: '${1}:9100'
        sourceLabels: [__meta_kubernetes_endpoint_node_name]
        targetLabel: __address__

namespace: monitoring